In [2]:
import pandas as pd
import numpy as np

In [6]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
print(train)
print(test)

                  datetime  season  holiday  workingday  weather   temp  \
0       2011-01-01 0:00:00       1        0           0        1   9.84
1       2011-01-01 1:00:00       1        0           0        1   9.02
2       2011-01-01 2:00:00       1        0           0        1   9.02
3       2011-01-01 3:00:00       1        0           0        1   9.84
4       2011-01-01 4:00:00       1        0           0        1   9.84
...                    ...     ...      ...         ...      ...    ...
12975  2012-06-29 20:00:00       3        0           1        1  37.72
12976  2012-06-29 21:00:00       3        0           1        2  35.26
12977  2012-06-29 22:00:00       3        0           1        3  33.62
12978  2012-06-29 23:00:00       3        0           1        3  33.62
12979   2012-06-30 0:00:00       3        0           0        3  26.24

        atemp  humidity  windspeed  casual  registered  count
0      14.395      81.0     0.0000       3          13     16
1      13.635      80.0     0.0000       8          32     40
2      13.635      80.0     0.0000       5          27     32
3      14.395      75.0     0.0000       3          10     13
4      14.395      75.0     0.0000       0           1      1
...       ...       ...        ...     ...         ...    ...
12975  44.695      42.0    16.9979      53         255    308
12976  41.665      53.0    12.9980      41         195    236
12977  41.665      63.0    12.9980      34         129    163
12978  41.665      63.0    12.9980       6          42     48
12979  28.790      89.0    11.0014       4          65     69

[12980 rows x 12 columns]
                 datetime  season  holiday  workingday  weather   temp  \
0      2012-06-30 1:00:00       3        0           0        3  26.24
1      2012-06-30 2:00:00       3        0           0        2  26.24
2      2012-06-30 3:00:00       3        0           0        2  26.24
3      2012-06-30 4:00:00       3        0           0        2  25.42
4      2012-06-30 5:00:00       3        0           0        1  26.24
...                   ...     ...      ...         ...      ...    ...
4394  2012-12-31 19:00:00       1        0           1        2  10.66
4395  2012-12-31 20:00:00       1        0           1        2  10.66
4396  2012-12-31 21:00:00       1        0           1        1  10.66
4397  2012-12-31 22:00:00       1        0           1        1  10.66
4398  2012-12-31 23:00:00       1        0           1        1  10.66

       atemp  humidity  windspeed  casual  registered
0     28.790      89.0    15.0013       3          55
1     28.790      89.0     0.0000       7          54
2     28.790      89.0     0.0000       3          20
3     27.275      94.0     0.0000       3          15
4     28.790      89.0    11.0014       3           7
...      ...       ...        ...     ...         ...
4394  12.880      60.0    11.0014      11         108
4395  12.880      60.0    11.0014       8          81
4396  12.880      60.0    11.0014       7          83
4397  13.635      56.0     8.9981      13          48
4398  13.635      65.0     8.9981      12          37

[4399 rows x 11 columns]

In [7]:
train.shape, test.shape

((12980, 12), (4399, 11))

In [9]:
train.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [49]:
from datetime import datetime
from datetime import date
train['datetime'] = pd.to_datetime(train["datetime"])
train['date'] = dt.dt.date
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81.0,0.0,3,13,16,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80.0,0.0,8,32,40,2011-01-01
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80.0,0.0,5,27,32,2011-01-01
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75.0,0.0,3,10,13,2011-01-01
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75.0,0.0,0,1,1,2011-01-01

In [51]:
firstdate = train['date'].iloc[0]
firstdate

datetime.date(2011, 1, 1)